<div align="center">
<!-- BEGIN CELLULAR AUTOMATON -->
<!-- END CELLULAR AUTOMATON -->
</div>

---

**Senior Software Engineer**

Unix systems and hardware hacking &nbsp;|&nbsp; embedded systems (arduino, esp32, STM) &nbsp;|&nbsp; privacy tooling &nbsp;|&nbsp; web development
